.ectMainPopupContainer{
  position: fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-color:rgba(0, 0, 0,0.8);
  z-index:999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ectMainPopupContainer #ectPopupContent{
  background: #FFF;
  width: 60%;
    height: 81%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.ectMainPopupContainer.hidden{
  display:none;
}
